services:
#  fossbadge_memcached:
#    image: memcached:1.6
#    container_name: fossbadge_memcached
#    hostname: fossbadge_memcached
#    restart: always
#    networks:
#      - fossbadge_backend

  fossbadge_django:
    build: .
    container_name: fossbadge_django
    hostname: fossbadge_django
    restart: always
    env_file: .env
    user: fossbadge
    ports:
      - "8000:8000"
#    links:
#      - fossbadge_memcached:memcached
    volumes:
      - ./ssh:/home/fossbadge/.ssh
      - ./:/home/fossbadge/FossBadge
    links:
      - fossbadge_valkey:valkey
    networks:
      - fossbadge_backend
      - frontend
    command: "bash start_dev.sh"

  fossbadge_nginx:
    image: nginx
    restart: always
    container_name: fossbadge_nginx
    hostname: fossbadge_nginx
    volumes:
      - ./media:/www/media
      - ./staticfiles:/www/static
      - ./logs:/logs
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - fossbadge_django
    links:
      - fossbadge_django:fossbadge_django
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.fossbadge_nginx.tls.certresolver=myresolver
      - traefik.http.routers.fossbadge_nginx.rule=Host(`$DOMAIN`)
      - traefik.http.services.fossbadge_nginx.loadbalancer.server.port=80
      - traefik.http.routers.fossbadge_nginx.middlewares=crowdsec@file
    networks:
      - frontend
      - fossbadge_backend

  fossbadge_valkey:
    container_name: fossbadge_valkey
    hostname: fossbadge_valkey
    image: valkey/valkey:9.0.1-alpine
    #image: redis:7.2.3-bookworm
    restart: always
    networks:
      - frontend


  fossbadge_celery:
    build: .
    container_name: fossbadge_celery
    hostname: fossbadge_celery
    restart: always
    env_file: .env
    depends_on:
      - fossbadge_valkey
    links:
      - fossbadge_valkey:valkey
    volumes:
      - ./:/DjangoFiles
    networks:
      - frontend
    command: "uv run celery -A fossbadge worker -l INFO -B --concurrency=6"

networks:
  frontend:
    external: true
  fossbadge_backend:

