services:
  postgres:
    image: postgres:latest
    restart: always
    container_name: postgres
    hostname: postgres
#    ports:
#      - "5432:5432"
    volumes:
      - o2badge_dev_db:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - fossbadge_backend

  fossbadge_memcached:
    image: memcached:latest
    container_name: fossbadge_memcached
    hostname: fossbadge_memcached
    restart: always
    networks:
      - fossbadge_backend

  fossbadge_redis:
    image: redis:latest
    container_name: fossbadge_redis
    hostname: fossbadge_redis
    restart: always
    networks:
      - fossbadge_backend

  fossbadge_celery:
    build: .
    container_name: fossbadge_celery
    hostname: fossbadge_celery
    restart: always
    env_file: .env
    user: fossbadge
    depends_on:
      - fossbadge_redis
    links:
      - fossbadge_redis:redis
    volumes:
      - ./:/home/fossbadge/FossBadge
    networks:
      - fossbadge_backend
    command: "uv run celery -A fossbadge worker -l INFO -B --concurrency=3"

  fossbadge_django:
    build: .
    container_name: fossbadge_django
    hostname: fossbadge_django
    restart: always
    env_file: .env
    user: fossbadge
    ports:
      - "8000:8000"
#    links:
#      - fossbadge_memcached:memcached
    volumes:
      - ./ssh:/home/fossbadge/.ssh
      - ./:/home/fossbadge/FossBadge
    links:
      - fossbadge_redis:redis
    networks:
      - fossbadge_backend
    command: "bash start.sh"

  fossbadge_nginx:
    image: nginx
    restart: always
    container_name: fossbadge_nginx
    hostname: fossbadge_nginx
    volumes:
      - ./media:/www/media
      - ./staticfiles:/www/static
      - ./logs:/logs
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - fossbadge_django
    links:
      - fossbadge_django:fossbadge_django
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.fossbadge_nginx.tls.certresolver=myresolver
      - traefik.http.routers.fossbadge_nginx.rule=Host(`$DOMAIN`)
      - traefik.http.services.fossbadge_nginx.loadbalancer.server.port=80
      - traefik.http.routers.fossbadge_nginx.middlewares=crowdsec@file
    networks:
      - frontend
      - fossbadge_backend

networks:
  frontend:
    external: true
  fossbadge_backend:

volumes:
  o2badge_dev_db: