services:
  fossbadge_django:
    build: .
    container_name: fossbadge_django
    hostname: fossbadge_django
    restart: always
    env_file: .env
    user: fossbadge
    volumes:
      - ./ssh:/home/fossbadge/.ssh
      - ./:/home/fossbadge/FossBadge
      - static_volume:/home/fossbadge/FossBadge/staticfiles
    depends_on:
      - postgres
    command: "bash start.sh"
    networks:
      - fossbadge_backend

  postgres:
    image: postgres
    restart: always
    container_name: postgres
    hostname: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    networks:
      - fossbadge_backend

  fossbadge_nginx:
    image: nginx
    restart: always
    ports:
      - 80:80
    container_name: fossbadge_nginx
    hostname: fossbadge_nginx
    volumes:
      - ./media:/www/media
      - static_volume:/www/static
      - ./logs:/logs
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - fossbadge_django
    links:
      - fossbadge_django:fossbadge_django
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.fossbadge_nginx.tls.certresolver=myresolver
      - traefik.http.routers.fossbadge_nginx.rule=Host(`$DOMAIN`)
      - traefik.http.services.fossbadge_nginx.loadbalancer.server.port=80
      - traefik.http.routers.fossbadge_nginx.middlewares=crowdsec@file
    networks:
      - frontend
      - fossbadge_backend

volumes:
  static_volume:

networks:
  frontend:
    external: true
  fossbadge_backend: