{% extends 'base.html' %}
{% load pictures %}

{% block title %}Badge {{ badge.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4 mb-4">Badge: {{ badge.name }}</h1>
        </div>
        {% if is_admin or is_editor %}
            <div class="col-md-4">
                <a class="btn btn-success mb-4" href="{% url 'core:badge-edit' pk=badge.pk %}"> Éditer </a>
                <a class="btn btn-danger mb-4" href="{% url 'core:badge-delete' pk=badge.pk %}"> Supprimer </a>
            </div>
        {% endif %}
    </div>

    <div class="row mb-5">
        <!-- Badge Information Section -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <!-- Badge Icon -->
                    {% if badge.icon %}
                        {% picture badge.icon img_alt=badge.name img_class="badge-icon mb-3" ratio="1/1" picture_class="text-center" %}
                    {% else %}
                        <img src="{{ placeholder_image }}" alt="{{ badge.name }}" class="badge-icon mb-3"
                             style="width: 150px; height: 150px;">
                    {% endif %}
                    <h2 class="card-title">{{ badge.name }}</h2>

                    <!-- Badge Level -->
                    <div class="mb-3">
                        {% if badge.level == 'beginner' %}
                            <span class="badge bg-primary p-2 fs-5">{{ badge.get_level_display }}</span>
                        {% elif badge.level == 'intermediate' %}
                            <span class="badge bg-warning text-dark p-2 fs-5">{{ badge.get_level_display }}</span>
                        {% elif badge.level == 'expert' %}
                            <span class="badge bg-success p-2 fs-5">{{ badge.get_level_display }}</span>
                        {% endif %}
                    </div>

                    <!-- Issuing Structure -->
                    <div class="mb-3">
                        <p class="mb-1 fw-bold">Structure émettrice :</p>
                        <div class="d-flex align-items-center justify-content-center">
                            {% if badge.issuing_structure.logo %}
                                <div class="me-2" style="width: 50px;">
                                    {% picture badge.issuing_structure.logo img_alt="Logo "|add:badge.issuing_structure.name img_class="img-fluid" ratio="1/1" %}
                                </div>
                            {% else %}
                                <img src="{{ placeholder_image }}" alt="Logo {{ badge.issuing_structure.name }}"
                                     class="img-fluid me-2" style="width: 50px;">
                            {% endif %}
                            <a href="{% url 'core:structure-detail' badge.issuing_structure.pk %}"><span>{{ badge.issuing_structure.name }}</span></a>
                        </div>
                    </div>
                    {% comment %}
                    TODO move this to the futur badge assignment page
                    <!-- Download QR Code -->
                    <div class="mb-3">
                        <p class="mb-1 fw-bold">QR Code:</p>
                        {% if badge.qr_code %}
                            <div class="mb-2" style="max-width: 200px; margin: 0 auto;">
                                {% picture badge.qr_code img_alt="QR Code du badge" img_class="img-fluid" ratio="1/1" %}
                            </div>
                            <div>
                                <a href="{{ badge.qr_code.url }}" class="btn btn-primary" download>Télécharger le QR
                                    Code</a>
                            </div>
                        {% else %}
                            <img src="{{ placeholder_image }}" alt="QR Code du badge" class="img-fluid mb-2"
                                 style="max-width: 200px;">
                            <div>
                                <p class="text-muted">QR Code non disponible</p>
                            </div>
                        {% endif %}
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>

        <!-- Valid Structures and Other Badge Holders -->
        <div class="col-md-6">
            <!-- Valid Structures -->
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Structures où ce badge est valable</h3>
                    <div class="row">
                        {% if badge.valid_structures.all %}
                            {% for structure in badge.valid_structures.all %}
                                <div class="col-4 text-center mb-3">
                                    {% if structure.logo %}
                                        <div class="mb-2" style="max-width: 80px; margin: 0 auto;">
                                            {% picture structure.logo img_alt="Logo "|add:structure.name img_class="img-fluid" ratio="1/1" %}
                                        </div>
                                    {% else %}
                                        <img src="{{ placeholder_image }}" alt="Logo {{ structure.name }}"
                                             class="img-fluid mb-2" style="max-width: 80px;">
                                    {% endif %}
                                    <p>{{ structure.name }}</p>
                                    <a class="btn btn-primary" href="{% url 'core:structure-detail' structure.pk %}">Détail</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12">
                                <p class="text-muted">Ce badge n'est valable dans aucune structure supplémentaire.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Other Badge Holders -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ce badge est rattaché à d'autres personnes</h3>
                    {% if holders %}
                        <ul class="list-group list-group-flush">
                            {% for user in holders %}
                                <li class="list-group-item">
                                    <a href="{% url 'core:user-detail' user.pk %}">
                                        {{ user.get_full_name|default:user.username }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Ce badge n'est rattaché à aucune personne pour le moment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Badge Description -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Description du badge</h3>
                    <p class="card-text">
                        {{ badge.description|linebreaks }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
