{% extends 'base.html' %}

{% block title %}Créer une Structure {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">Créer une Structure </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Informations de la structure</h2>
                        {% include "core/structures/partial/create_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

