{% extends 'base.html' %}

{% block title %}Cette page n'existe pas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="display-4 mb-4 text-center">Cette page n'existe pas</h3>
    </div>
</div>

{% if message %}
<div class="row">
    <div class="col-md-12">
        <p class="text-center">{{message}}</p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12 mx-auto text-center">
        <a href="/">Retourner a l'accueil </a>
    </div>
</div>
{% endblock %}

