<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:home-list' %}">FossBadge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home-list' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:user-list' %}">Profils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:user-detail' pk=1 %}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:badge-list' %}">Badges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:structure-list' %}">Structures</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Créer
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'core:create_badge' %}">Forger un Badge</a></li>
                        <li><a class="dropdown-item" href="{% url 'core:create_association' %}">Créer une Structure</a></li>
                        <li><a class="dropdown-item" href="{% url 'core:create_user' %}">Créer un utilisateur</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
