<div id="customPopup">
    <div id="customPopup-content">
        <button onclick="hidepopup()">CLose</button>
        HIIIIII
    </div>
    <div id="customPopup-bg"></div>
</div>

<style>
    {# Animation partially from https://codepen.io/fxm90/pen/KMMBNw #}
    #customPopup{
        visibility: hidden;
        transition: visibility 0ms linear 0.3s;
    }

    #customPopup.showed{
        visibility: visible;
        transition: visibility 0ms;
    }

    #customPopup #customPopup-content{
        width:40%;
        min-height:10%;
        min-width:400px;

        /* Position */
        position : fixed;
        left : 50%;
        top : 50%;
        z-index : 20;
        padding : 40px;


        border : solid black 1px;
        border-radius : 10px;
        background-color : white;
        animation: hide-popup 0.3s forwards;
    }

    #customPopup.showed #customPopup-content{
        animation: show-popup 0.3s forwards;
    }

    #customPopup #customPopup-bg{
        width:100%;
        height : 100%;
        position: absolute;
        left:0;
        top:0;
        background-color : rgba(0,0,0,0.5);
        z-index : 0;
        opacity:0;
        transition: opacity 0.3s ease-in-out;
    }

    #customPopup.showed #customPopup-bg{
        opacity: 1;
    }

    @keyframes show-popup {
        0% {
            transform: translate(-50%, -50%) scale(0.7);
            opacity: 0;
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    @keyframes hide-popup {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
        }
    }

</style>

<script>
    function showpopup(){
        let popup = document.querySelector("#customPopup")
        popup.classList.add("showed")
    }

    function hidepopup(){
        let popup = document.querySelector("#customPopup")
        popup.classList.remove("showed")
    }
</script>
