{% extends 'base.html' %}
{% load static %}

{% block title %} Parcours {% endblock %}

{% block content %}

    <h1>
        {{ course.name }}
    </h1>
    <div id="cy-container">
        <div id="cy"></div>
        <div class="top-right">
            <span onclick="zoomIn()">+</span>
            <span onclick="zoomOut()">-</span>
        </div>
    </div>

{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/cytoscape.min.js' %}" defer></script> {# cytoscape js for the graph #}
    <script src="{% static 'js/dagre.min.js' %}" defer></script> {# Needed for cytoscape-dagre #}
    <script src="{% static 'js/cytoscape-dagre.min.js' %}" defer onload="showGraph()"></script> {# For "tree" like display, it is "juste" a layout #}
    <script>
        const ZOOM_FACTOR = 0.5;
        var cy;
        var layout;
        var nodes = {% autoescape off %}{{ nodes }}{% endautoescape %}
        var edges = {% autoescape off %}{{ edges }}{% endautoescape %}

        function showGraph(){
            cy = cytoscape({
                container: document.getElementById('cy'), // container to render in
                elements: {
                    "nodes" : nodes,
                    "edges" : edges
                },

                // Stylesheet for the graph
                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': 'white',
                            'label': 'data(name)',
                            "width": 75,
                            "height":75,
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle',
                            'curve-style': 'bezier',
                            'source-endpoint':'outside-to-node-or-label',
                            'target-endpoint':'outside-to-node-or-label'
                        }
                    }
                ],

                // Interactions :
                boxSelectionEnabled: false,
                autoungrabify:true


            });

            layout = cy.layout({
                name: 'dagre',
                spacingFactor: 3,
                padding: 20,
                rankDir:"TB",
            })
            layout.run()


            cy.on('dblclick', (event) => {
                zoomIn(event);
            });
        }

        function zoomIn(event){
            let currentZoom = cy.zoom()
            let data = {
                level : currentZoom+ZOOM_FACTOR,
                position : { x : 0 , y : 0 }
            }

            if (event != null){
                let clickX = event.position.x
                let clickY = event.position.y
                data.position = { x : clickX , y : clickY }
            }

            cy.zoom(data);
        }
        function zoomOut(){
            let currentZoom = cy.zoom()
            let data = {
                level : currentZoom-ZOOM_FACTOR,
                position : { x : 0 , y : 0 }
            }
            cy.zoom(data);
        }
    </script>

{% endblock %}

{% block extra_css %}

    <style>
        #cy {
            width: 100%;
            height: 700px;
            display: block;
            border: solid black 1px;
        }

        #cy-container {
        position:relative;
        }

        .top-right{
            position : absolute;
            top : 5px;
            right : 5px;
        }
    </style>

{% endblock %}
