{% extends 'base.html' %}
{% load static %}

{% block title %} Parcours {% endblock %}

{% block content %}

    <h1>
        {{ course.name }}
    </h1>
    {% if can_edit %}
        <a class="btn btn-primary" href="{% url 'core:course-edit' course.pk %}">Modifier</a>
    {% endif %}
    <div id="cy-container">
        <div id="cy"></div>
        <div class="top-right">
            <span onclick="zoomIn()">+</span>
            <span onclick="zoomOut()">-</span>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    {% include "cytoscape/graph.html" with nodes=course.get_items_for_cytoscape edges=course.get_items_connections_for_cytoscape created=created editable=editable %}
{% endblock %}

{% block extra_css %}

    <style>
        #cy {
            width: 100%;
            height: 700px;
            display: block;
            border: solid black 1px;
        }

        #cy-container {
        position:relative;
        }

        .top-right{
            position : absolute;
            top : 5px;
            right : 5px;
        }
    </style>

{% endblock %}
