{% extends 'base.html' %}
{% load static custom_tags pictures %}

{% block title %} Parcours {% endblock %}

{% block content %}

    <h1>
        Modification du parcours : {{ course.name }}
    </h1>

    <div id="cy-container">
        <div id="cy"></div>
        <div class="top-right">
            <span onclick="zoomIn()">+</span>
            <span onclick="zoomOut()">-</span>
        </div>
    </div>

    {% popup popup_width="80%" %}
        <h2>Création de votre parcours : {{ course.name }}</h2>
        <hr>
        <h3>Badge similaire :</h3>
        <p>Voici une liste de badge similaire à votre badge final, veuillez en sélectionner un pour commencer à créer votre parcours.</p>
        <hr>

        {% include "core/courses/partial/add_badge_popup.html" with badges=similar_badges %}
    {% endpopup %}

{% endblock %}

{% block extra_js %}
    {% include "cytoscape/graph.html" with nodes=course.get_items_for_cytoscape edges=course.get_items_connections_for_cytoscape editable=editable %}
    <script>
        {% if course.get_item_count == 0 %}
            {%  popup_open %};
        {% endif %}


        /*
        document.querySelector(".my-html-node").id
        cy.getElementById("019bc66b-61cb-739b-9e66-f8c9ce51316a").trigger("taphold")
         */
    </script>

{% endblock %}

{% block extra_css %}

    <style>
        #cy {
            width: 100%;
            height: 700px;
            display: block;
            border: solid black 1px;
        }

        #cy-container {
            position:relative;
        }

        .top-right{
            position : absolute;
            top : 5px;
            right : 5px;
            display: grid;
        }
    </style>

{% endblock %}
