{% load i18n %}
{% load custom_tags %}
{% load static %}

<h2>{% translate "Forger un badge" %}</h2>

<form method="post"
      enctype="multipart/form-data"
      action="{% url 'core:create_badge' %}"
      hx-post="{% url 'core:create_badge' %}"
      hx-target="{% popup_content_id %}"
      hx-swap="innerHTML"
      hx-encoding="multipart/form-data"
      data-testid="form-create-badge">
    {% csrf_token %}


    {# Icone / Icon #}
    {% comment %}
    {# TODO : Add a choice between generating an icon and importing one #}
    <div class="mb-3">
        <label for="{{ form.icon.id_for_label }}" class="form-label">{{ form.icon.label }}</label>
        {{ form.icon }}
        {% if form.icon.errors %}
            <div class="error">{% for e in form.icon.errors %}{{ e }}{% endfor %}</div>
        {% endif %}
    </div>
    {% endcomment %}

    <div class="row">
        <div class="col-md-6">

            <!-- Structure Name -->
            <div class="mb-4">
                <label for="name" class="form-label fw-bold">Nom du badge</label>
                <input type="text" name="name" id="name"
                       class="form-control form-control-lg"
                       placeholder="Ex: Python Débutant"
                       maxlength="100" required="" value="{% if defaults.name %}{{ defaults.name }}{% endif %}">

                {% if errors.name %}
                    <p class="error">
                        {% for error in errors.name %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

            <!-- Structure Type -->
            <div class="mb-4">
                <label for="type" class="form-label fw-bold">Type du badge</label>
                <select id="type" class="form-select mt-2" name="type">
                    <option>--- Sélectionnez un type de badge ---</option>>
                    {%for type in types %}
                        <option {% if defaults.type == type.0  %} selected {%endif%}
                                                                  value="{{type.0}}">
                            {{type.1}}
                        </option>
                    {%endfor%}
                </select>

                {% if errors.type %}
                    <p class="error">
                        {% for error in errors.type %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>


            <!-- Structure Description -->
            <div class="mb-4">
                <label for="description" class="form-label fw-bold">Description</label>
                <textarea id="description" name="description" required="" class="form-control"
                          placeholder="Description de la structure, ses activités, sa mission..."
                >{% if defaults.description %}{{ defaults.description }}{% endif %}</textarea>

                {% if errors.description %}
                    <p class="error">
                        {% for error in errors.description %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>






        </div>
    </div>

</form>
