{%include 'show_message.html'%}
{% load custom_tags %}


<div>
    <form hx-get="{% url 'core:course-add-badge-popup' %}?parent_pk={{ parent_pk }}"
            hx-target="{% popup_content_id %}"
            hx-swap="innerHTML">
        <input class="b-1" name="name" placeholder="Nom du badge" />
        <button class="btn btn-primary mb-4"> Chercher </button>

    </form>

    <div id="badge-list">
        {% if badges %}
            {% include "core/courses/partial/badge_list_add.html" with badges=badges %}
        {% else %}
            Pas de résultat
        {% endif %}
    </div>

</div>
