{% load pictures %}

<div class="badge-grid">
    {% if courses %}
    {% for course in courses %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p> Contient {{course.get_item_count}} badges</p>
            <p class="card-text text-muted">{{ course.issuing_structure.name }}</p>
            <p> Créer par : </p>
            <p>
                {{ course.structure.name }}
                {% if course.structure.logo %}
                    {% picture course.structure.logo img_alt=course.structure.name img_class="badge-icon" ratio="1/1" %}
                {% else %}
                    <img src="{{ course.structure.logo }}" alt="Logo {{ course.structure.name }}" class="me-3" style="width: 80px; height: 80px;">
                {% endif %}

            </p>
            <a href="{% url 'core:course-detail' pk=course.pk %}" class="btn btn-primary">Voir le parcours</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info">
        Aucun parcours ne correspond à vos critères de recherche.
    </div>
    {% endif %}
</div>

<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=
                            {{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if level_filter %}&level={{ level_filter }}{% endif %}{% if structure_filter %}&structure={{ structure_filter }}{% endif %}"
               tabindex="-1">Précédent</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
        </li>
        {% endif %}

        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page=
                            {{ i }}{% if search_query %}&search={{ search_query }}{% endif %}{% if level_filter %}&level={{ level_filter }}{% endif %}{% if structure_filter %}&structure={{ structure_filter }}{% endif %}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page=
                            {{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if level_filter %}&level={{ level_filter }}{% endif %}{% if structure_filter %}&structure={{ structure_filter }}{% endif %}">Suivant</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Suivant</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}