{%include 'base/show_message.html'%}
{% load custom_tags popup_tags %}


<div>
    <form hx-get="{% url 'core:course-add-badge' course.pk %}?parent_pk={{ parent_pk }}"
            hx-target="{% popup_content_id %}"
            hx-swap="innerHTML"
    style="display: flex;gap:25px"
    class="mb-4">
        <input class="form-control form-control-lg" name="name" placeholder="Nom du badge" />
        <button class="btn btn-primary"> Chercher </button>
    </form>

    <div id="badge-list">
        {% if badges %}
            {% include "core/course/partial/badge_list_add.html" with badges=badges %}
        {% else %}
            Pas de résultat
        {% endif %}
    </div>

</div>
